#s1{
  margin-top: 15px;
  height: 400px;
  margin-left: 10vw;
  margin-right: 10vw;
  }
  
  header{
    height: 400px;
    font-size: xx-large;
    margin-left: 10vw;
    margin-top: 10px;
    margin-right: 10vw;
  }
  header > img{
    width: 10vw;
    margin-left: 10vw;
    margin-top: 1px;
    margin-right: 10vw;
    margin-bottom: 20px;
  }
  body{
    text-align: center;
    background:-webkit-linear-gradient(rgb(0, 0, 0), rgb(192, 192, 192)) no-repeat;
    color:white;
    border: 2px solid white;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  header > nav > ul > li{
    display:inline;
    margin-right: 15px;
    
  }
   #sales > ul {
    color: rgb(24, 24, 216);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
  }
  .page-divider{
    border: white solid 2px;
  }
  header > nav > ul > li > a{
  text-decoration:rgb(207, 114, 250);
  color:salmon;
  }
  h2{
    font-size: x-large;
    margin-bottom: 15px;
  }
  .page-divider2{
    border: white solid 2px;
    margin: 160px;
    
  }