 #s1{
  margin-top: 15px;
  height: 400px;
  margin-left: 10vw;
  margin-right: 10vw;
  }
  
  header{
    height: 200px;
    font-size: xx-large;
    margin-left: 10vw;
    margin-top: 10px;
    margin-right: 10vw;
  }
  header img{
    width: 10vw;

  }
  body{
    text-align: center;
    background:-webkit-linear-gradient(rgb(0, 0, 0), rgb(192, 192, 192)) no-repeat;
    color:white;
    border: 2px solid white;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  header > nav > ul > li{
    display:inline;
    margin-right: 15px;
    
  }
   #sales > ul {
    color: rgb(24, 24, 216);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
  }
  .page-divider{
    border: white solid 2px;
  }
  header > nav > ul > li > a{
  text-decoration:rgb(207, 114, 250);
  color:salmon;
  }
  h2{
    font-size: x-large;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .page-divider2{
    border: white solid 2px;
    margin: 160px;
    
  } 
  h1 {
    margin-bottom: 20px;
  }
.font-change{
    margin-top: 15px;
    height: 400px;
    margin-left: 10vw;
    margin-right: 10vw;
    font-family: 'Annie Use Your Telescope';
    margin-bottom: 30px;
  }
  .font-change2{
    margin-top: 100px;
    height: 400px;
    margin-left: 10vw;
    margin-right: 10vw;
    font-family: 'Annie Use Your Telescope';
    margin-bottom: 30px;
  }


  #text{
    font-size: larger;
  }

  .container {
    position: relative;
    width: 25%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }